/* Auth Layout Background Slider */
.container_wrapper {
    position: absolute;
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.bg-slider {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: 65%;
    min-height: 700px;
    transform: translateZ(0);
}

.bg-slider-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #435254;
    opacity: 0.25;
    z-index: 20;
}

.bg-image-common {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    animation: fade 16s forwards infinite;
}

.bg-image-01 {
    background-image: url('/assets/images/background/global-mid-year-outlook.jpg');
    animation-delay: 0s;
}

.bg-image-02 {
    background-image: url('/assets/images/background/zero_ph2_dataviz_homepage_2736x1824px_1110.jpg');
    animation-delay: 4s;
}

.bg-image-03 {
    background-image: url('/assets/images/background/cr_carousel_2736x1824_brighter_2.jpg');
    animation-delay: 8s;
}

.bg-image-04 {
    background-image: url('/assets/images/background/tech-talent-2023.jpg');
    animation-delay: 12s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.login-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}