/* Empty Layout Styles */

.container_wrapper {
        position: absolute;
        width: 100% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
}

.bg-image-01 {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('https://placehold.co/1920x1080?text=Background+1');
        background-size: cover;
}

.bg-image-02 {
        position: relative;
        width: 100%;
        background-image: url('https://placehold.co/1920x1080?text=Background+2');
        background-size: cover;
}