/* === 1. Calibre (Main Sans-serif) === */
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/calibre-web-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/calibre-web-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/calibre-web-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/calibre-web-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/calibre-web-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === 2. Financier (Serif / Accent) === */
@font-face {
  font-family: 'Financier';
  src: url('/fonts/financier/financier-display-web-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Financier';
  src: url('/fonts/financier/financier-display-web-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* === 3. Barlow Condensed (Data / Labels) === */
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === 4. Space Mono (Monospace) === */
@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}